*{
    box-sizing: border-box;
    outline: none;
}
body {
  background: #C7E5E6;
  font-family: 'Helvetica', Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}
img{
    max-height: 75vh;
    width: auto;
}
h1 {
  color: #A6A49C;
  font-family: 'Helvetica', Arial, sans-serif;
}

p {
  color: #474544;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 14px;
}

img{
    border-radius: 1em;
    transition: all 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 300ms;
}

.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal {
  opacity: 0;
  padding: 50px;
  position: absolute;
  z-index: -1;
  transition: opacity 600ms linear 600ms;
}
.radius{
    border-radius: 18em;
}
.modal_info {
  background: #FCF9F2;
  padding: 50px 100px;
  text-align: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: -3;
  transition: opacity 200ms linear;
}

.display {
  opacity: 1;
  visibility: visible;
  text-align: center;
}

.conceal {
  visibility: hidden;
}

.search {
  background: #363D4E;
  display: inline-block;
  height: 66px;
  position: relative;
  vertical-align: middle;
  whitespace: normal;
  width: 172px;
  z-index: 1;
  transition: opacity 100ms linear;
}
.field{
    color: #757575;
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #757575;
    margin-bottom: 5px;
}
.search.button {
  color: #FFFFFF;
  letter-spacing: 2px;
  line-height: 66px;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3em;
}
 
.search.button:hover {
  background: #3E465A;
}